{% extends '__base.html' %}
{% load bootstrap %}


{% block left_sidebar %}
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="{% url 'webpage.list' %}">Webpages</a>
                </li>
                <li>
                    <a href="">Add New Gadget<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{% url 'carousel.add' webpage.pk %}">Carousel</a>
                        </li>
                        <li>
                            <a href="#">HeadingIcons</a>
                        </li>
                        <li>
                            <a href="#">MediaFeature</a>
                        </li>
                    </ul>
                </li>
                <li><a href="">Current Gadgets<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Menu</a>
                        </li>
                        {% for carousel in webpage.carousel_set.all %}
                        <li>
                            <a href="{% url 'carousel.edit' carousel.pk %}">Carousel: {{ carousel.title }}</a>
                        </li>
                        {% endfor %}
                        {% for headericons in webpage.headericons_set.all %}
                        <li>
                            <a href="{% url 'headericons.edit' headericons.pk %}">HeaderIcons: {{ headericons.title }}</a>
                        </li>
                        {% endfor %}
                        {% for mediafeature in webpage.MediaFeature_set.all %}
                        <li>
                            <a href="{% url 'mediafeature.edit' mediafeature.pk %}">MediaFeature: {{ mediafeature.title }}</a>
                        </li>
                        {% endfor %}

                    </ul>
                </li>
                <li>
                    <a href="{% url 'webpage.delete' webpage.pk %}">Delete</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
        </div>

{% endblock left_sidebar %}


{% block main_content_area %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

            </div>
        </div>
    </div>

{% endblock main_content_area %}