{% extends '__base_webpage.html' %}
{% load bootstrap %}
{% load static from staticfiles %}

{% block js_files %}
    {{ block.super }}
    <script src={% static "js/summernote/summernote.min.js" %}></script>
    <script src={% static "js/summernote/plugin/summernote-ext-fontstyle.js" %}></script>
    <script src={% static "js/dropzone.min.js" %}></script>
    <script src={% static "js/summernote/summernote-air.js" %}></script>
    <script>
        $(document).ready(function() {
            input_to_summernote([['.summernote-title', ' form > .mediafeature_title'],
                ['.summernote-description', 'form > .mediafeature_description']]);
        });
    </script>
{% endblock js_files %}

{% block css_files %}
    {{ block.super }}
    <link href={% static "js/summernote/summernote.css" %} rel="stylesheet">
    <link href={% static "css/dropzone/dropzone.css" %} rel="stylesheet">
    <link href={% static "css/media-feature.css" %} rel="stylesheet">
{% endblock css_files %}


{% block main_content_area %}


    <div id="page-wrapper">
        <div class="spacer-height-50px"></div>
        <div class="row">
            <div class="col-md-7">
                <div class="featurette-wrapper">
                    <div class='summernote summernote-title'></div>
                    <div class='summernote summernote-description'></div>
                    <form id="mediafeature-form" action="{{ form_url }}" method="POST">
                        {% csrf_token %}
                        {{ form.errors }}
                        {{ form.non_field_errors }}
                        {{ form.title }}
                        {{ form.description }}
                    </form>
                </div>
            </div>
            <div class="col-md-5">
                <form id="mediafeature-media-form" class ="dropzone" action="{{ form_url }}" method="POST">
                    {% csrf_token %}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <button id="submit-media-forms" class="btn btn-default" type="submit">Submit</button>
            </div>
        </div>
    </div>


{% endblock main_content_area %}

{% block js_files_bottom %}
    {{ block.super }}
    <script src={% static "js/dropzone-settings.js" %}></script>
    <script src={% static "js/jquery.form.js" %}></script>
    <script src={% static "js/csrf.js" %}></script>

    <script>
        $('#submit-media-forms').click(function(event) {

            summernote_to_input([['.summernote-title', ' form > .mediafeature_title'],
                ['.summernote-description', 'form > .mediafeature_description']]);

            $('#mediafeature-media-form').ajaxForm(function () {
                myDropzone.processQueue();
            });
            $('#mediafeature-form').ajaxForm(function(){});
            $('#mediafeature-form').submit();
            $('#mediafeature-media-form').submit();
        });
    </script>
{% endblock js_files_bottom %}