{% extends '__base.html' %}
{% load bootstrap %}


{% block left_sidebar %}
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="">Add New Gadget<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Menu</a>
                        </li>
                        <li>
                            <a href="#">Slider</a>
                        </li>
                        <li>
                            <a href="#">HeadingIcons</a>
                        </li>
                        <li>
                            <a href="#">MediaFeature</a>
                        </li>
                    </ul>
                </li>
                <li>Current Gadgets</li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
        </div>

{% endblock left_sidebar %}


{% block main_content_area %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

            </div>
        </div>
    </div>

{% endblock main_content_area %}